<?xml version="1.0" encoding="utf-8"?>
<vector xmlns:android="http://schemas.android.com/apk/res/android"
    android:width="512dp"
    android:height="512dp"
    android:viewportWidth="512"
    android:viewportHeight="512">

    <path
        android:name="mapBG"
        android:fillColor="#D0011B"
        android:fillAlpha="0"
        android:strokeWidth="1"
        android:pathData="M 410 109 L 410 210 L 410 304 L 410 406 L 105 406 L 105 304 L 105 210 L 105 109 Z" />
    <path
        android:name="leftFold"
        android:fillColor="#D0011B"
        android:strokeWidth="1"
        android:pathData="M 410 108 L 410 158 L 105 158 L 105 108 Z" />
    <path
        android:name="midFold"
        android:fillColor="#D0011B"
        android:strokeWidth="1"
        android:pathData="M 410 282 L 410 232 L 105 232 L 105 282 Z" />
    <path
        android:name="rightFold"
        android:fillColor="#D0011B"
        android:strokeWidth="1"
        android:pathData="M 410 355 L 410 405 L 105 405 L 105 355 Z" />
</vector>